* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.wrapper {
  line-height: 1.4;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 0.6026785714285714) 0%, rgba(0, 128, 128, 1) 100%);
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.todos {
  background-color: #fff;
  border-radius: 8px;
  padding: 4rem;
  margin: 0 auto;
  width: 450px;
  box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
}

@media (max-width: 556px) {
  .todos {
    padding: 3rem 1rem;
    margin: auto 10px;
    width: 100%;
  }
}

.card {
  height: 40vh;
  margin-top: 2rem;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: inherit;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-container {
  display: flex;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
  justify-content: space-around;
  align-items: center;
  background: #fff;
  font-size: 1rem;
}

.input-text {
  padding-right: 5px;
  padding-left: 15px;
  border-radius: calc(0.5 * 100px);
  font-size: 1rem;
  height: 45px;
  outline: none;
  border: none;
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: gray;
  cursor: pointer;
  font-weight: 200;
  margin: 0px 20px;
  font-size: 19px;

}


.submit-warning {
  font-size: 13px;
  color: red;
  margin-top: 5px;
  display: block;
}