.item {
  font-size: 1rem;
  list-style-type: none;
  padding: 14px 25px;
  border-bottom: 1px solid #fff;
  background: #f0efef;
  margin-bottom: .5rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 556px) {
  .item {
    font-size: 0.8rem;
    padding: 8px;
    margin-bottom: .2rem;
    width: 300px;
  }
}

.items {
  overflow: hidden;
}

.content span {
  padding: 0 20px;
}

.content .button {
  cursor: pointer;
  color: gray;
}

.content .button:hover {
  color: red;
}